<div class="bg-light mt-5">
  <div class="container">
    <div class="row">
   <div class="text-center">
    <h2>Skills</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, reprehenderit?</p>
  </div>
  <div class="col-md-4">
    <h2 class="text-center">
      my focus
    </h2>
    <h3></h3>
    <ul class="text-center">
      <li>ui/ux Design</li>
      <li>responsive Design</li>
      <li>web design</li>
      <li>
        mobile app design
      </li>
    </ul>

  </div>
  <div class="col-md-8">


<b> Html Skill </b>
<div class = "progress">
<div class = "progress-bar progress-bar-striped" style = "width:80%">
</div>
</div>
<br>
<div class = "progress">
<div class = "progress-bar bg-warning progress-bar-striped" style = "width:20%">
<b> CSS Skill </b>
</div>
</div>
<br>
<div class = "progress">
<div class = "progress-bar bg-success progress-bar-striped" style = "width:95%">
<b> Bootstrap Skill </b>
</div>
</div>
<br>
<div class = "progress" style = "height:20px">
<div class = "progress-bar bg-danger progress-bar-striped" style = "width:87%">
<b> JavaScript Skill </b>
</div>
</div>
<br>
<div class = "progress" style = "height:30px">
<div class = "progress-bar bg-info progress-bar-striped" style = "width:50%; height:30px ">
<b> Jquery Skill </b>
</div>
</div>
  </div>

 </div>
  </div>
</div>
